

<footer id="footer">
    {% load static %}    

    <div class="footer-content-container">
        <h4>Pixels</h4>
        <p><a href="{% url 'about' %}">About Me</a></p>
        <p>Blog</p>
        <p>FAQ</p>
    </div>
    
    <div class="footer-content-container">
        <h4>Social Media</h4>
        <br>
        <a href="https://www.facebook.com/pratyaksa.aksa"><img class="social-media-icon" src="{% static 'img/social/facebook.png'%}"></a>
        <a href="https://www.instagram.com/aksapraty/"><img class="social-media-icon" src="{% static 'img/social/instagram.png'%}"></a>
        <a href="https://www.linkedin.com/in/praty-aksa-866885134/"><img class="social-media-icon" src="{% static 'img/social/linkedin.png'%}"></a>
    </div>


</footer>
