{% extends 'profile_base_self.html' %}


{% block menu_content %}

    <div class="collection-content">
        {% for follower in followers %}
            <div class="collection-follower">
                <a href="{% url 'profile' follower.user_id follower.user.userprofile.slug %}">
                    <img src="{{ follower.user.userprofile.get_url }}" class="rounded-circle collection-follower-avatar">
                    <p class="collection-follower-name">{{ follower.user.userprofile.name }}</p>
                    <div class="collection-follower-photo-container">
                        {% for photo in follower.photos %}
                            <img src="{{ photo.get_url }}" class="collection-follower-photo" alt="noimage">
                        {% endfor %}
                    </div>
                </a>
                {% if follower.follow_status %}
                    <button class="collection-follower-unfollow-button btn btn-info" id="follow-button" value={{ follower.user_id }}><i>Already Following</i></button>
                {% else %}
                    {% if user.is_authenticated %}
                        <button class="collection-follower-follow-button btn btn-success" id="follow-button" value={{ follower.user_id }}>Follow</button>
                    {% else %}
                        <a href="{% url 'login' %}"><button class="collection-follower-follow-button btn btn-success" id="follow-button" value={{ follower.user_id }}>Follow</button></a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        
        

    </div>

{% endblock menu_content %}