{% extends 'profile_base.html' %}


{% block menu_content %}

    <div class="collection-content">
        {% for following in following_users %}
            <div class="collection-follower">
                <a href="{% url 'profile' following.following_user.id following.following_user.userprofile.slug %}">
                    <img src="{{ following.following_user.userprofile.get_url }}" class="rounded-circle collection-follower-avatar">
                    <p class="collection-follower-name">{{ following.following_user.userprofile.name }}</p>
                    <div class="collection-follower-photo-container">
                        {% for photo in following.photos %}
                            <img src="{{ photo.get_url }}" class="collection-follower-photo" alt="noimage">
                        {% endfor %}
                    </div>
                </a>
                {% if following.follow_status %}
                    <button class="collection-follower-unfollow-button btn btn-info" value={{ following.following_user.id }}><i>Already Following</i></button>
                {% else %}
                    {% if user.is_authenticated %}
                        <button class="collection-follower-follow-button btn btn-success" value={{ following.following_user.id }}>Follow</button>
                    {% else %}
                        <a href="{% url 'login' %}"><button class="collection-follower-follow-button btn btn-success" value={{ following.following_user.id }}>Follow</button></a>
                    {% endif %}
                {% endif %} 
            </div>
        {% endfor %}
        
        

    </div>

{% endblock menu_content %}